<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KPSPublicSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="KPSPublicSoap1" />
                <binding name="KPSPublicSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="KPSPublicSoap3" />
                <binding name="KPSPublicSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="KPSPublicSoap5" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap"
                contract="ServiceReference1.KPSPublicSoap" name="KPSPublicSoap" />
            <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap2"
                contract="ServiceReference2.KPSPublicSoap" name="KPSPublicSoap1" />
            <endpoint address="https://tckimlik.nvi.gov.tr/Service/KPSPublic.asmx"
                binding="basicHttpBinding" bindingConfiguration="KPSPublicSoap4"
                contract="kimlik.KPSPublicSoap" name="KPSPublicSoap2" />
        </client>
    </system.serviceModel>
</configuration>